<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>CODOAMU</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
            href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap"
            rel="stylesheet"
    />
</head>
<body>
<main>
    <div id="loaderLogo">
        <div id="siteLogo"></div>
        <div class="siteHighlight"><h1>What you have <span>is what to eat :)</span></h1></div>
        <div>
            <button class="ctaBig"><h3>What's in <br/>your fridge?</h3></button>
        </div>
    </div>
    <div id="mainWrapper">
        <section id="wallBg">
            <div></div>
            <div></div>
            <div></div>
        </section>
        <section id="kitchenFurniture">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="fridge">
                <button></button>
            </div>
            <div></div>
            <div></div>
        </section>
        <div id="ctaLocation"></div>

    </div>
</main>
</body>
</html>
