<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Template 2</title>
</head>

<body>
<div class="card banner"></div>
<h1 class="card__title">Recipe name</h1>
<p class="card__ingredients">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ad
    vitae veritatis necessitatibus eius culpa, sequi asperiores, nesciunt modi
    minima qui. Quod architecto est blanditiis alias deleniti ullam. Dicta,
    iure?
</p>
<p class="card__recipe">
<ol class="ingredients">
    <li>Lorem ipsum</li>

</ol>
</p>

</body>
</html>
