@import "sass/all";
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
}
.banner {
  /* do wywalenia jak będzie logo */
  display: flex;
  flex-direction: column;
  background-image: url("./assets/img/food.jpg");
  background-position: center;
  background-size: cover;
  justify-content: center;
  /* do wywalenia jak będzie logo */
  height: 35vh;
  // margin: 0;
}
/* do wywalenia jak będzie logo */
.banner__text {
  color: var(--sakura);
  font-weight: bold;
  display: block;
  padding: 5px 0 5px 15px;
  background-color: rgba(255, 255, 255, 0.5);
}
/* do wywalenia jak będzie logo */
.search__input {
  display: block;
  width: 80%;
  margin: 10px auto;
}
.search__button {
  margin: 10px auto;
  display: block;
}
.recipes {
  width: 90%;
  background-color: var(--wheat);
  margin: 0 auto 60px;
  z-index: 1;
}
.recipe {
  margin: 10px 0;
}
.recipe__image {
  background-color: aqua;
  background-position: center;
  background-size: cover;
  width: 100px;
  min-width: 100px;
  height: 100px;
  margin: 5px;
}
.recipe__description {
  padding: 10px;
  text-decoration: none;
  color: var(--sakura);
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
}
.footer__text {
  color: var(--sakura);
  padding: 15px;
  display: block;
  text-align: center;
}
.off {
  display: none;
}
.card {
}
