// main colors of the application

$chinese-red: #AC351E;
$chinese-red-darker: #8c2b18;
$white: #ffffff;
$jet: #333333;
$light-sea-green: #25BDAE;
$wheat: #F3D9B1;

// wall colors

$wall-texture-darker: #dae2e5;
$wall-texture-lighter: #edf2f5;
$wall-texture-bg: #f9fafc;
